body {
    background-image: url(https://images.samsung.com/is/image/samsung/assets/mx/p6_gro2/p6_initial_mktpd/tvs/super-big-tv/2019_superbig_00_see_the_bigger_picture_PC.jpg?$1440_N_JPG$);
    background-size: 1200px 600px;
    background-repeat: no-repeat;
}


h1, li {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal
    
}

.container {
    margin-top: 50px;
    text-align: center;
}
    

li {
    list-style-type: none;
    font-family:verdana;
    font: size 20px;px;
    color:rgb(0, 217, 255);
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
    
}

