body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/551/944/930/simple-wallpaper-preview.jpg);
    background-size: 1200px 600px;
    background-repeat: no-repeat;
}


h1, li {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal
    
}

.container {
    margin-top: 50px;
    text-align: center;
}
    

li {
    list-style-type: none;
    font-family:verdana;
    font: size 20px;px;
    color:rgb(0, 134, 7);
               
    
}

ul {
            list-style-type: none;
            padding: 2;
            text-align: center;
        }
        li {
            display: inline-grid;
            padding: 5px 10px;
            margin: 5px;
            border: 1px solid #ccc;
            font-size: 16px; 
            background-color: #f9f9f9;
        }
        .completed {
            text-decoration: line-through;
        }
        .delete-button {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10px;
        }
